{% extends "base.html" %}

{% block content %}
    <h1>Serial Port</h1>
    <form role="form" method="post" onsubmit="return false;">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.comm_port.label }}<br>
            {{ form.comm_port() }}
           <input type="submit" id="btnScan" value="scan"/>
        </p>
        <p>
            {{ form.baud_rate.label }}<br>
            {{ form.baud_rate() }}
        </p>
        <p><input type="submit" id="btnConnect" value="connect" /> <input type="submit" id="btnDisconnect" value="disconnect"/> </p>
        <p><button onclick="serialConnect()">Serial CONNECT</button></p>
    </form>
{% endblock %}